<!DOCTYPE html>

<html>
  <head>
	<link type="text/css" rel="stylesheet" href="/style/main.css" />
    <title class = "main-title">erpreciso-blog-plink</title>
  </head>

  <body>
    <h1>erpreciso Blog</h1>
    <h2>Queried {{hit_time}} seconds ago</h2>
    <a href = "/blog">click here to go main page</a>
 
  <hr>
	<div class="post">
		<div class="post-heading">
			<div class="post-title">
	{{subject}}
			</div>

			<div class="post-date">
	{{created}}
			</div>
		</div>

		<div class="post-content">
	{{content}}
		</div>
	</div>

  </body>

</html>
